<div ng-controller="NoteController as ctrl">
    <div class="panel panel-default" style="max-width:700px">
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="ctrl.errors.length > 0"
                     ng-repeat="error in ctrl.errors track by $index">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    {{error}}
                </div>

                <li role="presentation" class="active" ng-click="ctrl.showRawData()">
                    <a aria-controls="profile" role="tab" data-toggle="tab">Write</a>
                </li>

                <li role="presentation" ng-click="ctrl.showHtmlData()">
                    <a aria-controls="settings" role="tab" data-toggle="tab">Preview</a>
                </li>

                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-header" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-text-size" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-default">
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                </button>
            </ul>

            <textarea style="width:670px; max-width:670px;" ng-model="ctrl.noteData"
                      ng-show="!ctrl.isHtmlVisible" ng-paste="ctrl.handlePaste($event.originalEvent)"></textarea>

            <div style="width:670px; max-width:670px;" ng-bind-html="ctrl.noteHtmlData"
                 ng-show="ctrl.isHtmlVisible"></div>
            <div ng-show="ctrl.isHtmlVisible" ng-repeat="image in ctrl.imageList track by $index">
                <br>
                <img ng-src="{{image}}">
            </div>
            <br>

            <button type="button" class="btn btn-success" ng-click="ctrl.renderMarkdown()">Save Note</button>
        </div>
    </div>
</div>
