div#mainContent.trebuchetms{
    font-family: "Trebuchet MS", sans-serif;
}

div#mainContent.roboto{
    font-family: "Roboto", sans-serif;
}

div#mainContent.opensans{
    font-family: "Open Sans", sans-serif;
}

div#mainContent.lato{
    font-family: "Lato", sans-serif;
}

div#mainContent.sourcesanspro{
    font-family: "Source Sans Pro", sans-serif;
}

div#mainContent.raleway{
    font-family: "Raleway", sans-serif;
}

div#mainContent.droidsans{
    font-family: "Droid Sans", sans-serif;
}

div#mainContent.notosans{
    font-family: "Noto Sans", sans-serif;
}

div#mainContent.muli{
    font-family: "Muli", sans-serif;
}

div#mainContent.poppins{
    font-family: "Poppins", sans-serif;
}

div#mainContent.oxygen{
    font-family: "Oxygen", sans-serif;
}

div#mainContent.slabo{
    font-family: "Slabo 27px", serif;
}

div#mainContent.robotoslab{
    font-family: "Roboto Slab", serif;
}

div#mainContent.merriweather{
    font-family: "Merriweather", serif;
}

div#mainContent.droidserif{
    font-family: "Droid Serif", serif;
}

div#mainContent.playfairdisplay{
    font-family: "Playfair Display", serif;
}

div#mainContent.ptserif{
    font-family: "PT Serif", serif;
}

div#mainContent.bitter{
    font-family: "Bitter", serif;
}

div#mainContent.arvo{
    font-family: "Arvo", serif;
}

div#mainContent.notoserif{
    font-family: "Noto Serif", serif;
}

div#mainContent.crimsontext{
    font-family: "Crimson Text", serif;
}

div#mainContent.breeserif{
    font-family: "Bree Serif", serif;
}

div#mainContent.librebaskerville{
    font-family: "Libre Baskerville", serif;
}

div#mainContent.wingdings{
    font-family: "Wingdings", serif;
}