<div ng-controller="AuthorController as ctrl">
    <div>
        <p>{{ctrl.selectedAuthor.id}}</p>
    </div>
    <button ng-click="ctrl.getAllAuthors()">Get all authors</button>
    {{ctrl.allAuthors}}
    <div ng-repeat=" author in ctrl.allAuthors track by $index">
        <p>{{author}}</p>
        <!--<p>{{author.lastName}}</p>-->
        <!--<p>{{author.firstName}}</p>-->
        <!--<p>{{author.bookId}}</p>-->
        <button ng-click="ctrl.setSelectedAuthor(author)">Select</button>
    </div>
</div>